body{
    background-color: #79818c;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-dc-part-form{
    height: fit-content;
    width: 70%;
    min-width: 300px;
    max-width: fit-content;
    margin: 1rem auto;
    margin-top: 2rem;
    background-color: black;
    padding: 30px;
    border-radius: 45px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 9px 7px #383b3f;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    background-color: #e7e7e7;
    border-color: #f31818;
    box-shadow: 1px 1px 5px 2px #f318186c;
}

#edit-dc-part-header{
    display: inline-block;
    text-align: left;
    color: white;
    font-size: 2rem;
    margin-bottom: 25px;
    font-weight: bold;
}

.edit-dc-part-form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

.edit-dc-part-form select:focus{
    outline: none;
    background-color: #e7e7e7;
    border-color: #f31818;
    box-shadow: 1px 1px 5px 2px #f318186c;
}

.edit-dc-part-form-button{
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 10px; /* Adjust padding for better appearance */
    font-weight: bold;
    background-color: #d51f1f;
    border: solid 2px black;
    border-radius: 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

.edit-dc-part-form-button:hover {
    background-color: #f31818;
    box-shadow: 0 0 15px #f31818;
    border-color: #f31818;
}


.form-label {
    color: white;
    display: block;
    text-align: left;
}

.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: white;
}

#edit-dc-part-header{
    display: inline-block;
    text-align: left;
    color: white;
    font-size: 2rem;
    margin-bottom: 25px;
    font-weight: bold;
}

#edit-dc-selected-part{
    text-align: left;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 25px;
    font-weight: bold;
}